
html { 
  height:100%;
}
body { 
  min-height:100%;
  background-color: whitesmoke;
}

header{
  padding: 20px;
  background-color: wheat;
}

main{
  width: 100%;
  height: 100%;
  padding:20px;
  background-color: bisque;
}

button{
  margin: 5px;
  font-size: medium;
}

.foutmelding {
  padding:10px;
  background-color: coral;
  font-size: medium;
  font-weight: 700;
  border-left: 6px solid red;

}